{% extends "base.html.twig" %}

{% block title %}
    Identification des visiteurs
{% endblock %}

{% form_theme form with [
    'bootstrap_4_layout.html.twig'
] %}

{% block body %}
    <div class="jumbotron">
        <div class="jumbotron">
            <h2>Saisissez les informations de facturation</h2>
        </div>

                {{ form_start(form) }}
                {{ form_errors(form) }}
                {% for fcustomer in form.customer %}
                    {{ form_label(fcustomer) }}
                    {{ form_widget(fcustomer) }}
                {% endfor %}
                <br>
                <br>
                <input type="submit" class="btn btn btn-primary" value="Suivant">
                {{ form_end(form) }}

    </div>

{% endblock %}