{% extends "base.html.twig" %}

{% block title %}
    Récapitulatif
{% endblock %}


{% block body %}
<div class="jumbotron">

    <h2>Récapitulatif de la commande</h2>
    <br/>
    <h6>Merci d'avoir passer commande auprès du musée du Louvre. Pour information, voici le détail de votre commande que nous vous conseillons de vérifier avant de procéder au paiement.</h6>
    <br>
    <br>
    <div class="table-responsive-lg">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th colspan="4">
                        Détails de la commande pour la visite du {{visit.visiteDate|date("d/m/Y") }}
                    </th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td >Billet n°</td>
                <td>Visiteur</td>
                <td>Date de naissance</td>
                <td>Prix du billet</td>
                <td>Remise</td>
                <td>Pays</td>
            </tr>
            {% for ticket in visit.tickets %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ ticket.firstname }} {{ ticket.lastname }} </td>
                <td>{{ ticket.birthdate| date('d/m/Y')}}</td>
                <td>{{ ticket.price }} €</td>
                <td>{{ boolean ? 'Non' : 'Oui' }}</td>
                <td>{{ ticket.country }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive-lg">
        <table class="table table-hover" style="width: 100%">
            <thead>
            <thead>
            <tr>
                <th colspan="4">
                    Détails de la facturation
                </th>
            </tr>
            <tbody>
            <tr>
                <td>Nom :</td>
                <td>{{ visit.customer.lastname }}</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Pr&eacute;nom :</td>
                <td>{{ visit.customer.firstname }}</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Email :</td>
                <td>{{ visit.customer.email }}</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Date de la commande :</td>
                <td>{{ visit.invoicedate|date("d/m/Y") }}</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Montant total</td>
                <td>{{ visit.totalAmount }} €</td>
                <td></td>
            </tr>

            </tbody>
        </table>
    </div>
    <br>
    <br>

    <a class="btn btn-primary" href="{{ path ('payment') }}" role="button">poursuivre vers le paiement</a>
</div>
{% endblock %}