{% extends "base.html.twig" %}

{% block title %}
    Identification des visiteurs
{% endblock %}

{% form_theme form with [
    'bootstrap_4_layout.html.twig'
] %}

{% block body %}
    <div class="jumbotron">
        <h2>Saisissez le détail pour chaque visiteur</h2>
    </div>


            {{ form_start(form) }}
            {{ form_errors(form) }}

            {% for fticket in form.tickets %}
                <strong>Ticket n° {{ loop.index }}</strong>
                {{ form_widget(fticket) }}
                <hr>
            {% endfor %}

            <input type="submit" class="btn btn btn-primary" value="Valider">
            {{ form_end(form) }}

{% endblock %}