{% extends "base.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% form_theme form with [
    'bootstrap_4_layout.html.twig'
] %}


{% block body %}
    <div class="jumbotron">
        Page billets
    </div>
            {{ form_start(form) }}
            {{ form_row(form.visiteDate, {label: "Date de la visite"}) }}<br/>

             {{ form_row(form.type) }}<br/>

            {{ form_row(form.nbTicket,  {label: "Nombre de billets*"}) }}
            <input type="submit" class="btn btn btn-primary" value="Valider">
            <br/>

            {{ form_end(form) }}


    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy'
            });
        });
    </script>
{% endblock %}