{% extends "base.html.twig" %}

{% block title %}
    Contact
{% endblock %}


{% block body %}

    <div class="jumbotron" >
        Page contact
        <br>
        <br>

        <div class="row">
            <div class="col-sm-12">
                {{ form_start(form) }}

                {{ form_row(form.lastname) }} <br/>

                {{ form_row(form.firstname) }} <br/>

                {{ form_row(form.email) }}<br/>

                {{ form_row(form.message) }}<br/>

                <tr>
                    <td>
                        <input type="checkbox" id="validation_rgpd" name="validation_rgpd" required="true" value="1" />
                    </td>
                    <td></td>
                    <td>
                        <label class="labelConnexion text-center" >en cochant cette case, j&#039;accepte les conditions générales du site</label>
                    </td>
                </tr>
            </div>

            <div class="col-sm-11">
                <button type="submit" class="btn btn-success">Envoyez</button>
            </div>
        </div>

        {{ form_end(form) }}<br/>
    </div>

{% endblock %}