{% extends "base.html.twig" %}

{% block title %}
    Contact
{% endblock %}


{% block body %}

    <div class="jumbotron" >
        Page contact
        <br>
        <br>

        <div class="row">
            <div class="col-sm-12">
                {{ form_start(form) }}

                {{ form_row(form.lastname) }} <br/>

                {{ form_row(form.firstname) }} <br/>

                {{ form_row(form.email) }}<br/>

                {{ form_row(form.message) }}<br/>
            </div>

            <div class="col-sm-11">
                <button type="submit" class="btn btn-success">Envoyez</button>
            </div>
        </div>

        {{ form_end(form) }}<br/>
    </div>

{% endblock %}